extends layout

block content
  h2.text-center.bx About us...
  p.bx Travel Europe was established in 2003 and since 2010 it has been an unquestionable leader in the tourist industry. Success did not come suddenly. It is the result of many years of work. We grew out of passion, which allowed to treat the company not only as a source of income but as a way to realise dreams and ambitions. We have holiday offers in many places in Europe. We offer a luxurious holidays and trips for the most demanding Customers. The development strategy is further investments in destinations and sales networks, as well as implementing new technologies. Great emphasis is placed on the quality of customer service during holidays. Due to this, intensive works are underway to create new structures in destinations, guaranteeing the best service on site. Check us out!
