extends layout



block content
  h1.text-center(style='color:black') Welcome to Travel Europe

  h2.text-center.bx= random_greatings

  br
  #carouselExampleCaptions.carousel.slide(data-bs-ride='carousel')
    .carousel-indicators
      button.active(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
      button(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='1' aria-label='Slide 2')
      button(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='2' aria-label='Slide 3')
      button(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='3' aria-label='Slide 4')
      button(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='4' aria-label='Slide 5')
      button(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='5' aria-label='Slide 6')
      button(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='6' aria-label='Slide 7')

    .carousel-inner
      .carousel-item.active
        img.d-block.w-70(src='images/amsterdam_01.jpg' alt='Amsterdam')
        .carousel-caption.d-none.d-md-block
          h5 Amsterdam
      .carousel-item
        img.d-block.w-70(src='images/athen_01.jpg' alt='Athen')
        .carousel-caption.d-none.d-md-block
          h5 Athen
      .carousel-item
        img.d-block.w-70(src='images/lisbon_01.jpg' alt='Lisbon')
        .carousel-caption.d-none.d-md-block
          h5 Lisbon
      .carousel-item
        img.d-block.w-70(src='images/london_01.jpg' alt='London')
        .carousel-caption.d-none.d-md-block
          h5 London
      .carousel-item
        img.d-block.w-70(src='images/paris_01.jpg' alt='Paris')
        .carousel-caption.d-none.d-md-block
          h5 Paris
      .carousel-item
        img.d-block.w-70(src='images/prague_01.jpg' alt='Prague')
        .carousel-caption.d-none.d-md-block
          h5 Prague
      .carousel-item
        img.d-block.w-70(src='images/roma_01.jpg' alt='Roma')
        .carousel-caption.d-none.d-md-block
          h5 Roma
    button.carousel-control-prev(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.visually-hidden Previous
    button.carousel-control-next(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.visually-hidden Next
